/* glue: 0.13 hash: d7b791dc48 */
        .s-s-zozocoin,
.s-s-yoyow,
.s-s-win-coin,
.s-s-wallet-builders-coin,
.s-s-vpncoin,
.s-s-viuly,
.s-s-ulatech,
.s-s-ug-token,
.s-s-tezos,
.s-s-terranova,
.s-s-techshares,
.s-s-t-coin,
.s-s-swaptoken,
.s-s-suretly,
.s-s-stex,
.s-s-sphre-air,
.s-s-sojourn,
.s-s-sisa,
.s-s-sigmacoin,
.s-s-sharechain,
.s-s-segwit2x,
.s-s-russian-mining-coin,
.s-s-revenu,
.s-s-regalcoin,
.s-s-qash,
.s-s-publica,
.s-s-project-x,
.s-s-powercoin,
.s-s-pluscoin,
.s-s-pizzacoin,
.s-s-phore,
.s-s-phantomx,
.s-s-peoplecoin,
.s-s-paypex,
.s-s-oxycoin,
.s-s-ox-fina,
.s-s-ormeus-coin,
.s-s-nuls,
.s-s-neo-gold,
.s-s-msd,
.s-s-minex,
.s-s-mergecoin,
.s-s-mercury-protocol,
.s-s-mantracoin,
.s-s-maker,
.s-s-macro1,
.s-s-lltoken,
.s-s-litecoin-gold,
.s-s-lex4all,
.s-s-interstellar-holdings,
.s-s-international-diamond,
.s-s-ink,
.s-s-infinity-economics,
.s-s-infchain,
.s-s-icon,
.s-s-golos-gold,
.s-s-gold-reward-token,
.s-s-future-digital-currency,
.s-s-frazcoin,
.s-s-firstcoin,
.s-s-fargocoin,
.s-s-exchange-union,
.s-s-everus,
.s-s-erc20,
.s-s-environ,
.s-s-enigma,
.s-s-energo,
.s-s-encrypgen,
.s-s-electroneum,
.s-s-ebittree-coin,
.s-s-ea-coin,
.s-s-dix-asset,
.s-s-digital-money-bits,
.s-s-digital-credits,
.s-s-digipulse,
.s-s-desire,
.s-s-crystal-clear,
.s-s-copico,
.s-s-clubcoin,
.s-s-caliphcoin,
.s-s-burstocean,
.s-s-bt2-cst,
.s-s-bt1-cst,
.s-s-bodhi,
.s-s-blockpool,
.s-s-blockchain-index,
.s-s-bixc,
.s-s-bitserial,
.s-s-bitcoin2x,
.s-s-bitcoin-silver,
.s-s-bitcoin-gold,
.s-s-bigboobscoin,
.s-s-b2bx,
.s-s-atmcoin,
.s-s-astro,
.s-s-applecoin-apw,
.s-s-akuya-coin,
.s-s-aion,
.s-s-aidos-kuneen,
.s-s-abncoin {
            background-image: url('/static/cryptocurrency_sprites/10.png');
            background-repeat: no-repeat;
        }
        
        .s-s-zozocoin {
            background-position: 0 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-yoyow {
            background-position: -16px 0;
            width: 16px;
            height: 12px;
        }
        
        .s-s-win-coin {
            background-position: 0 -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wallet-builders-coin {
            background-position: -16px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vpncoin {
            background-position: -32px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-viuly {
            background-position: -32px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ulatech {
            background-position: 0 -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ug-token {
            background-position: -16px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tezos {
            background-position: -32px -32px;
            width: 15px;
            height: 16px;
        }
        
        .s-s-terranova {
            background-position: -48px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-techshares {
            background-position: -48px -16px;
            width: 16px;
            height: 13px;
        }
        
        .s-s-t-coin {
            background-position: -48px -29px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-swaptoken {
            background-position: 0 -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-suretly {
            background-position: -16px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-stex {
            background-position: -32px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sphre-air {
            background-position: -48px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sojourn {
            background-position: -64px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sisa {
            background-position: -64px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sigmacoin {
            background-position: -64px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sharechain {
            background-position: -64px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-segwit2x {
            background-position: 0 -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-russian-mining-coin {
            background-position: -16px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-revenu {
            background-position: -32px -64px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-regalcoin {
            background-position: -80px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-qash {
            background-position: -80px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-publica {
            background-position: -80px -32px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-project-x {
            background-position: -80px -48px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-powercoin {
            background-position: -80px -63px;
            width: 15px;
            height: 16px;
        }
        
        .s-s-pluscoin {
            background-position: 0 -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-pizzacoin {
            background-position: -16px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-phore {
            background-position: -32px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-phantomx {
            background-position: -48px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-peoplecoin {
            background-position: -64px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-paypex {
            background-position: -80px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-oxycoin {
            background-position: -96px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ox-fina {
            background-position: -96px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ormeus-coin {
            background-position: -96px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nuls {
            background-position: -96px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-neo-gold {
            background-position: -96px -64px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-msd {
            background-position: -96px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-minex {
            background-position: 0 -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-mergecoin {
            background-position: -16px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-mercury-protocol {
            background-position: -32px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-mantracoin {
            background-position: -48px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-maker {
            background-position: -64px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-macro1 {
            background-position: -80px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-lltoken {
            background-position: -96px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-litecoin-gold {
            background-position: -112px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-lex4all {
            background-position: -112px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-interstellar-holdings {
            background-position: -112px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-international-diamond {
            background-position: -112px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ink {
            background-position: -112px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-infinity-economics {
            background-position: -112px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-infchain {
            background-position: -112px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-icon {
            background-position: 0 -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-golos-gold {
            background-position: -16px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-gold-reward-token {
            background-position: -32px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-future-digital-currency {
            background-position: -48px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-frazcoin {
            background-position: -64px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-firstcoin {
            background-position: -80px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-fargocoin {
            background-position: -96px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-exchange-union {
            background-position: -112px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-everus {
            background-position: -128px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-erc20 {
            background-position: -128px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-environ {
            background-position: -128px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-enigma {
            background-position: -128px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-energo {
            background-position: -128px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-encrypgen {
            background-position: -128px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-electroneum {
            background-position: -128px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ebittree-coin {
            background-position: -128px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ea-coin {
            background-position: 0 -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dix-asset {
            background-position: -16px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digital-money-bits {
            background-position: -32px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digital-credits {
            background-position: -48px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digipulse {
            background-position: -64px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-desire {
            background-position: -80px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-crystal-clear {
            background-position: -96px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-copico {
            background-position: -112px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-clubcoin {
            background-position: -128px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-caliphcoin {
            background-position: -144px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-burstocean {
            background-position: -144px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bt2-cst {
            background-position: -144px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bt1-cst {
            background-position: -144px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bodhi {
            background-position: -144px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-blockpool {
            background-position: -144px -80px;
            width: 16px;
            height: 10px;
        }
        
        .s-s-blockchain-index {
            background-position: -144px -90px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bixc {
            background-position: -144px -106px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitserial {
            background-position: -144px -122px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin2x {
            background-position: 0 -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin-silver {
            background-position: -16px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin-gold {
            background-position: -32px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bigboobscoin {
            background-position: -48px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-b2bx {
            background-position: -48px -64px;
            width: 16px;
            height: 10px;
        }
        
        .s-s-atmcoin {
            background-position: -64px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-astro {
            background-position: -80px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-applecoin-apw {
            background-position: -96px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-akuya-coin {
            background-position: -112px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aion {
            background-position: -128px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aidos-kuneen {
            background-position: -144px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-abncoin {
            background-position: -160px 0;
            width: 16px;
            height: 16px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .s-s-zozocoin,
    .s-s-yoyow,
    .s-s-win-coin,
    .s-s-wallet-builders-coin,
    .s-s-vpncoin,
    .s-s-viuly,
    .s-s-ulatech,
    .s-s-ug-token,
    .s-s-tezos,
    .s-s-terranova,
    .s-s-techshares,
    .s-s-t-coin,
    .s-s-swaptoken,
    .s-s-suretly,
    .s-s-stex,
    .s-s-sphre-air,
    .s-s-sojourn,
    .s-s-sisa,
    .s-s-sigmacoin,
    .s-s-sharechain,
    .s-s-segwit2x,
    .s-s-russian-mining-coin,
    .s-s-revenu,
    .s-s-regalcoin,
    .s-s-qash,
    .s-s-publica,
    .s-s-project-x,
    .s-s-powercoin,
    .s-s-pluscoin,
    .s-s-pizzacoin,
    .s-s-phore,
    .s-s-phantomx,
    .s-s-peoplecoin,
    .s-s-paypex,
    .s-s-oxycoin,
    .s-s-ox-fina,
    .s-s-ormeus-coin,
    .s-s-nuls,
    .s-s-neo-gold,
    .s-s-msd,
    .s-s-minex,
    .s-s-mergecoin,
    .s-s-mercury-protocol,
    .s-s-mantracoin,
    .s-s-maker,
    .s-s-macro1,
    .s-s-lltoken,
    .s-s-litecoin-gold,
    .s-s-lex4all,
    .s-s-interstellar-holdings,
    .s-s-international-diamond,
    .s-s-ink,
    .s-s-infinity-economics,
    .s-s-infchain,
    .s-s-icon,
    .s-s-golos-gold,
    .s-s-gold-reward-token,
    .s-s-future-digital-currency,
    .s-s-frazcoin,
    .s-s-firstcoin,
    .s-s-fargocoin,
    .s-s-exchange-union,
    .s-s-everus,
    .s-s-erc20,
    .s-s-environ,
    .s-s-enigma,
    .s-s-energo,
    .s-s-encrypgen,
    .s-s-electroneum,
    .s-s-ebittree-coin,
    .s-s-ea-coin,
    .s-s-dix-asset,
    .s-s-digital-money-bits,
    .s-s-digital-credits,
    .s-s-digipulse,
    .s-s-desire,
    .s-s-crystal-clear,
    .s-s-copico,
    .s-s-clubcoin,
    .s-s-caliphcoin,
    .s-s-burstocean,
    .s-s-bt2-cst,
    .s-s-bt1-cst,
    .s-s-bodhi,
    .s-s-blockpool,
    .s-s-blockchain-index,
    .s-s-bixc,
    .s-s-bitserial,
    .s-s-bitcoin2x,
    .s-s-bitcoin-silver,
    .s-s-bitcoin-gold,
    .s-s-bigboobscoin,
    .s-s-b2bx,
    .s-s-atmcoin,
    .s-s-astro,
    .s-s-applecoin-apw,
    .s-s-akuya-coin,
    .s-s-aion,
    .s-s-aidos-kuneen,
    .s-s-abncoin {
                background-image: url('/static/cryptocurrency_sprites/10.png');
                -webkit-background-size: 176px 160px;
                -moz-background-size: 176px 160px;
                background-size: 176px 160px;
            }
        }
        