/* glue: 0.13 hash: e8f8249fb1 */
        .s-s-zonecoin,
.s-s-xonecoin,
.s-s-wild-beast-block,
.s-s-wexcoin,
.s-s-virtacoin,
.s-s-vip-tokens,
.s-s-veros,
.s-s-vault-coin,
.s-s-vaperscoin,
.s-s-useless-ethereum-token,
.s-s-tradecoin-v2,
.s-s-tagrcoin,
.s-s-sydpak,
.s-s-steps,
.s-s-speedcash,
.s-s-songcoin,
.s-s-soilcoin,
.s-s-slevin,
.s-s-selfiecoin,
.s-s-save-and-gain,
.s-s-rsgpcoin,
.s-s-rimbit,
.s-s-ride-my-car,
.s-s-rawcoin2,
.s-s-qibuck-asset,
.s-s-pulse,
.s-s-posex,
.s-s-plncoin,
.s-s-playercoin,
.s-s-pesobit,
.s-s-p7coin,
.s-s-osmiumcoin,
.s-s-orlycoin,
.s-s-nodecoin,
.s-s-neurodao,
.s-s-neuro,
.s-s-mtmgaming,
.s-s-morningstar-payments,
.s-s-mindcoin,
.s-s-milocoin,
.s-s-magnum,
.s-s-luna-coin,
.s-s-litecred,
.s-s-letitride,
.s-s-kronecoin,
.s-s-kingn-coin,
.s-s-jio-token,
.s-s-jin-coin,
.s-s-javascript-token,
.s-s-impulsecoin,
.s-s-impact,
.s-s-iconic,
.s-s-ibank,
.s-s-high-voltage,
.s-s-genstake,
.s-s-geertcoin,
.s-s-gbcgoldcoin,
.s-s-gamebet-coin,
.s-s-fuzzballs,
.s-s-ethgas,
.s-s-eryllium,
.s-s-ereal,
.s-s-elysium,
.s-s-ego,
.s-s-dt-token,
.s-s-dpay,
.s-s-doubloon,
.s-s-dollar-online,
.s-s-digital-rupees,
.s-s-debitcoin,
.s-s-das,
.s-s-dappster,
.s-s-cybcsec,
.s-s-cthulhu-offerings,
.s-s-cryptoescudo,
.s-s-crtcoin,
.s-s-concoin,
.s-s-comet,
.s-s-coinonat,
.s-s-chncoin,
.s-s-ccminer,
.s-s-cabbage,
.s-s-brat,
.s-s-bowscoin,
.s-s-bnrtxcoin,
.s-s-blazecoin,
.s-s-bitvolt,
.s-s-bitcoal,
.s-s-bios-crypto,
.s-s-biobar,
.s-s-benjirolls,
.s-s-beavercoin,
.s-s-beatcoin,
.s-s-bbqcoin,
.s-s-argus,
.s-s-antilitecoin,
.s-s-anarchistsprime,
.s-s-allsafe,
.s-s-agrolifecoin,
.s-s-destiny {
            background-image: url('/static/cryptocurrency_sprites/9.png');
            background-repeat: no-repeat;
        }
        
        .s-s-zonecoin {
            background-position: 0 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-xonecoin {
            background-position: -16px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wild-beast-block {
            background-position: 0 -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wexcoin {
            background-position: -16px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-virtacoin {
            background-position: -32px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vip-tokens {
            background-position: -32px -16px;
            width: 16px;
            height: 13px;
        }
        
        .s-s-veros {
            background-position: 0 -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vault-coin {
            background-position: -16px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vaperscoin {
            background-position: -32px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-useless-ethereum-token {
            background-position: -48px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tradecoin-v2 {
            background-position: -48px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tagrcoin {
            background-position: -48px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sydpak {
            background-position: 0 -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-steps {
            background-position: -16px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-speedcash {
            background-position: -32px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-songcoin {
            background-position: -48px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-soilcoin {
            background-position: -64px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-slevin {
            background-position: -64px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-selfiecoin {
            background-position: -64px -32px;
            width: 15px;
            height: 16px;
        }
        
        .s-s-save-and-gain {
            background-position: -64px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rsgpcoin {
            background-position: 0 -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rimbit {
            background-position: -16px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ride-my-car {
            background-position: -32px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rawcoin2 {
            background-position: -48px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-qibuck-asset {
            background-position: -64px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-pulse {
            background-position: -80px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-posex {
            background-position: -80px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-plncoin {
            background-position: -80px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-playercoin {
            background-position: -80px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-pesobit {
            background-position: -80px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-p7coin {
            background-position: 0 -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-osmiumcoin {
            background-position: -16px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-orlycoin {
            background-position: -32px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nodecoin {
            background-position: -48px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-neurodao {
            background-position: -64px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-neuro {
            background-position: -80px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-mtmgaming {
            background-position: -96px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-morningstar-payments {
            background-position: -96px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-mindcoin {
            background-position: -96px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-milocoin {
            background-position: -96px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-magnum {
            background-position: -96px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-luna-coin {
            background-position: -96px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-litecred {
            background-position: 0 -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-letitride {
            background-position: -16px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-kronecoin {
            background-position: -32px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-kingn-coin {
            background-position: -48px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-jio-token {
            background-position: -64px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-jin-coin {
            background-position: -80px -96px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-javascript-token {
            background-position: -112px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-impulsecoin {
            background-position: -112px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-impact {
            background-position: -112px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-iconic {
            background-position: -112px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ibank {
            background-position: -112px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-high-voltage {
            background-position: -112px -80px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-genstake {
            background-position: -112px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-geertcoin {
            background-position: 0 -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-gbcgoldcoin {
            background-position: -16px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-gamebet-coin {
            background-position: -96px -96px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-fuzzballs {
            background-position: -32px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ethgas {
            background-position: -48px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-eryllium {
            background-position: -64px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ereal {
            background-position: -80px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-elysium {
            background-position: -96px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ego {
            background-position: -112px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dt-token {
            background-position: -128px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dpay {
            background-position: -128px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-doubloon {
            background-position: -128px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dollar-online {
            background-position: -128px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digital-rupees {
            background-position: -128px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-debitcoin {
            background-position: -128px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-das {
            background-position: -128px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dappster {
            background-position: -128px -112px;
            width: 11px;
            height: 16px;
        }
        
        .s-s-cybcsec {
            background-position: 0 -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cthulhu-offerings {
            background-position: -16px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cryptoescudo {
            background-position: -32px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-crtcoin {
            background-position: -48px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-concoin {
            background-position: -64px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-comet {
            background-position: -80px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-coinonat {
            background-position: -96px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-chncoin {
            background-position: -112px -128px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ccminer {
            background-position: -128px -128px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-cabbage {
            background-position: -144px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-brat {
            background-position: -144px -16px;
            width: 12px;
            height: 16px;
        }
        
        .s-s-bowscoin {
            background-position: -144px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bnrtxcoin {
            background-position: -144px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-blazecoin {
            background-position: -144px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitvolt {
            background-position: -144px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoal {
            background-position: -144px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bios-crypto {
            background-position: -144px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-biobar {
            background-position: -144px -128px;
            width: 16px;
            height: 11px;
        }
        
        .s-s-benjirolls {
            background-position: 0 -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-beavercoin {
            background-position: -16px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-beatcoin {
            background-position: -32px -144px;
            width: 15px;
            height: 16px;
        }
        
        .s-s-bbqcoin {
            background-position: -47px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-argus {
            background-position: -63px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-antilitecoin {
            background-position: -79px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-anarchistsprime {
            background-position: -95px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-allsafe {
            background-position: -111px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-agrolifecoin {
            background-position: -127px -144px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-destiny {
            background-position: -143px -144px;
            width: 15px;
            height: 14px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .s-s-zonecoin,
    .s-s-xonecoin,
    .s-s-wild-beast-block,
    .s-s-wexcoin,
    .s-s-virtacoin,
    .s-s-vip-tokens,
    .s-s-veros,
    .s-s-vault-coin,
    .s-s-vaperscoin,
    .s-s-useless-ethereum-token,
    .s-s-tradecoin-v2,
    .s-s-tagrcoin,
    .s-s-sydpak,
    .s-s-steps,
    .s-s-speedcash,
    .s-s-songcoin,
    .s-s-soilcoin,
    .s-s-slevin,
    .s-s-selfiecoin,
    .s-s-save-and-gain,
    .s-s-rsgpcoin,
    .s-s-rimbit,
    .s-s-ride-my-car,
    .s-s-rawcoin2,
    .s-s-qibuck-asset,
    .s-s-pulse,
    .s-s-posex,
    .s-s-plncoin,
    .s-s-playercoin,
    .s-s-pesobit,
    .s-s-p7coin,
    .s-s-osmiumcoin,
    .s-s-orlycoin,
    .s-s-nodecoin,
    .s-s-neurodao,
    .s-s-neuro,
    .s-s-mtmgaming,
    .s-s-morningstar-payments,
    .s-s-mindcoin,
    .s-s-milocoin,
    .s-s-magnum,
    .s-s-luna-coin,
    .s-s-litecred,
    .s-s-letitride,
    .s-s-kronecoin,
    .s-s-kingn-coin,
    .s-s-jio-token,
    .s-s-jin-coin,
    .s-s-javascript-token,
    .s-s-impulsecoin,
    .s-s-impact,
    .s-s-iconic,
    .s-s-ibank,
    .s-s-high-voltage,
    .s-s-genstake,
    .s-s-geertcoin,
    .s-s-gbcgoldcoin,
    .s-s-gamebet-coin,
    .s-s-fuzzballs,
    .s-s-ethgas,
    .s-s-eryllium,
    .s-s-ereal,
    .s-s-elysium,
    .s-s-ego,
    .s-s-dt-token,
    .s-s-dpay,
    .s-s-doubloon,
    .s-s-dollar-online,
    .s-s-digital-rupees,
    .s-s-debitcoin,
    .s-s-das,
    .s-s-dappster,
    .s-s-cybcsec,
    .s-s-cthulhu-offerings,
    .s-s-cryptoescudo,
    .s-s-crtcoin,
    .s-s-concoin,
    .s-s-comet,
    .s-s-coinonat,
    .s-s-chncoin,
    .s-s-ccminer,
    .s-s-cabbage,
    .s-s-brat,
    .s-s-bowscoin,
    .s-s-bnrtxcoin,
    .s-s-blazecoin,
    .s-s-bitvolt,
    .s-s-bitcoal,
    .s-s-bios-crypto,
    .s-s-biobar,
    .s-s-benjirolls,
    .s-s-beavercoin,
    .s-s-beatcoin,
    .s-s-bbqcoin,
    .s-s-argus,
    .s-s-antilitecoin,
    .s-s-anarchistsprime,
    .s-s-allsafe,
    .s-s-agrolifecoin,
    .s-s-destiny {
                background-image: url('/static/cryptocurrency_sprites/9.png');
                -webkit-background-size: 160px 160px;
                -moz-background-size: 160px 160px;
                background-size: 160px 160px;
            }
        }
        