<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/theme.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="../../static/css/0.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/1.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/2.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/3.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/4.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/5.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/6.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/7.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/8.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/9.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/10.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/11.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/12.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/13.css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="clip_frame">
      <img src="../../static/img/spurrilogoW.png" height="50"> </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item  ml-5">
          <a class="nav-link active" href="#">
            <u>Cryptocurrencies</u>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="grants.html">Grants</a>
        </li>
      </ul>
      <form class="form-inline m-auto">
        <input class="form-control mr-2" width="250" placeholder="search">
        <button class="btn btn-primary" type="submit">search</button>
      </form>
      <form class="form-inline m-auto">
        <button type="submit" class="btn-sm btn-outline-light ml-3 m-1">login</button>
        <button class="btn-sm btn-outline-secondary m-1" type="submit">sign up</button>
      </form>
    </div>
  </nav>
  <div class="text-center bg-gradient py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-center pt-2 ">
            <p class="text-center mr-3">Get daily updates on crypto, projects and grants for <b>$5 / month</b>.</p>
            <form method="post" action="" class="pr-3">
              <div class="row">
                <div class="col">
                  <input type="email" name="email" class="form-control" placeholder="Your e-mail here"> </div>
                <div class="col">
                  <button type="submit" class="btn-sm btn-secondary">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 py-2">
        <ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="/Coins">Coins</a>
          </li>
          <li class="breadcrumb-item active">Interzone</li>
        </ul>
      </div>
      <div class="col-md-2 d-flex align-items-center ">
        <a class="btn text-center btn-danger" href="#">Add a Coin</a>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-2 text-left">
          <a href="#" class="btn btn-outline-primary">
            <icon class="s-s-bitcoin currency-logo-sprite" style="margin-top:2px;"></icon> Prev</a>
          <p class="">Lead paragraph </p>
        </div>
        <div class="col-md-8 text-left">
          <h1 class="text-center">Interzone</h1>
        </div>
        <div class="col-md-2 text-right ">
          <a href="#" class="btn btn-outline-primary">
            <icon class="s-s-bitcoin currency-logo-sprite" style="margin-top:2px;"></icon> Next</a>
          <p class="">Lead paragraph </p>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
        <div class="col-md-3">
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td>Price:</td>
                <td>$29,929.92</td>
              </tr>
              <tr>
                <td>Cap</td>
                <td>$12,123,123,231</td>
              </tr>
              <tr>
                <td>Volume</td>
                <td>$23,234,234234</td>
              </tr>
              <tr>
                <td>Supply</td>
                <td>23,234,234234 ITZ</td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td>chart24</td>
                <td>chart7</td>
                <td>chart30</td>
              </tr>
              <tr>
                <td>-30%</td>
                <td>-30%</td>
                <td>-40%</td>
              </tr>
              <tr>
                <td>Tags:</td>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>Links:</td>
                <td colspan="2"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div style="float:left; padding-left: 10px; padding-right: 10px;border-right: 1px solid #ddd;"><span style="font-size:10px;">Block Height</span>
            <br><span style="font-size:20px;"><b>829,234</b></span></div>
          <div style="float:left; padding-left:10px;padding-right: 10px;border-right: 1px solid #ddd;"><span style="font-size:10px;">BCT Topic #</span>
            <br><span style="font-size:20px;"><b>234</b></span></div>
        </div>
        <div class="col-md-4">
          <div style="float:left; padding-right:10px;">
            <h2>Wallets:</h2>
          </div>
          <div style="float:left; padding-right:10px;margin-top:3px;"> <i class="fa fa-fw fa-globe fa-2x"></i>
            <br> <span style="font-size:10px;">Windows</span> </div>
          <div style="float:left; padding-right:10px;margin-top:3px;"> <i class="fa fa-fw fa-globe fa-2x"></i>
            <br> <span style="font-size:10px;">Mac</span> </div>
          <div style="float:left; padding-right:10px;margin-top:3px;"> <i class="fa fa-fw fa-globe fa-2x"></i>
            <br> <span style="font-size:10px;">Linux</span> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 p-3">
        <ul class="list-group text-left">
          <li class="list-group-item active text-dark">GOALS&nbsp;<i class="fa fa-fw fa-globe"></i> </li>
          <a href="#" class="list-group-item">
            <h2 style="float:left;margin-right:8px;">#13</h2><b>The Spurri Interzone Pool</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped text-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div> <b>0.003992 ITZ / 99288394 ITZ</b> <span style="float:right; font-size:10px;">Contribute ITZ: 23lk4j23l4kj2l3kj4l2kj234</span> </a>
          <a href="#" class="list-group-item">
            <h2 style="float:left;margin-right:8px;">#1</h2><b>The Spurri Interzone Pool</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped text-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div> <b>0.003992 ITZ / 99288394 ITZ</b> <span style="float:right; font-size:10px;">Contribute ITZ: 23lk4j23l4kj2l3kj4l2kj234</span> </a>
          <a href="#" class="list-group-item">
            <h2 style="float:left;margin-right:8px;">#1</h2><b>The Spurri Interzone Pool</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div> <b>0.003992 ITZ / 99288394 ITZ</b> <span style="float:right; font-size:10px;">Contribute ITZ: 23lk4j23l4kj2l3kj4l2kj234</span> </a>
        </ul>
      </div>
      <div class="col-md-6 p-3 ">
        <li class="list-group-item active text-left text-dark">FEED <i class="fa fa-fw fa-cogs "></i> </li>
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-inverse "> </thead>
          <tbody>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image"> </th>
              <td class="text-left ">1337dev signed up</td>
              <td class="text-right ">
                <h7>3 days ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image"> </th>
              <td class="text-left ">new pool added</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image"> </th>
              <td class="text-left ">new goal created</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
          </tbody>
        </table>
        <li class="list-group-item active text-left text-dark">POOLS <i class="fa fa-fw fa-cogs "></i> </li>
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-inverse "> </thead>
          <tbody>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image"> </th>
              <td class="text-left ">1337dev signed up</td>
              <td class="text-right ">
                <h7>3 days ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image"> </th>
              <td class="text-left ">new pool added</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image"> </th>
              <td class="text-left ">new goal created</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p class="lead">Get daily updates on crypto, projects and grants for <b>$5 / month</b></p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.twitter.com/spurri" target="_blank">
            <icon class="fab fa-twitter fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://facebook.com/spurri" target="_blank">
            <icon class="fab fa-facebook fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://join.slack.com/t/spurri/shared_invite/enQtMjkyNjQ4NjYwODY2LWViMGM1NDY3NTQyMDIzZTk0YmEzOWNmZmFlM2YxZjdjMWE1OTk5MGU5YWQ2Y2EwOTY4ZDVlNmZmY2ZmMTZhNWY" target="_blank">
            <icon class="fab fa-slack fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://discord.gg/BpRJ9Qp" target="_blank">
            <icon class="fab fa-discord fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.github.com/spurri" target="_blank">
            <icon class="fab fa-github fa-2x"></icon>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Spurri - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>