<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="clip_frame">
      <img src="../../static/img/spurrilogoW.png" height="50"> </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item  ml-5">
          <a class="nav-link active" href="#">Cryptocurrencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Grants</a>
        </li>
      </ul>
      <form class="form-inline m-auto">
        <input class="form-control mr-3" width="250" placeholder="search">
        <button class="btn btn-primary" type="submit">search</button>
      </form>
      <form class="form-inline m-auto">
        <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
    </div>
  </nav>
  <div class="py-2 text-center bg-gradient">
    <div class="container py-2">
      <div class="row">
        <div class="col-md-12">
          <p class="lead"><b>Spurri helps connect innovative projects with funds through grants and cryptocurrency.</b></p>
          <div class="row justify-content-center pt-3">
            <p class="text-center mr-3">Subscribe for alerts on new crypto, projects and grants.</p>
            <form method="post" action="" class="pr-3">
              <div class="row">
                <div class="col">
                  <input type="email" name="email" class="form-control" placeholder="Your e-mail here"> </div>
                <div class="col">
                  <button type="submit" class="btn btn-secondary">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4"> </div>
      </div>
    </div>
    <figure class="snip1536">
      <img src="../../static/img/interzone.png" alt="">
      <figcaption>
        <p class="text-center">$.0034 USD | 34 pools | 1 exchange $234,234 marketcap</p>
        <h3 class="text-center">Interzone</h3>
      </figcaption>
      <div class="hover"></div><i class="ion-android-add"></i>
      <a href="#"></a>
    </figure>
    <figure class="snip1536">
      <img src="../../static/img/coderbounty.png" alt="">
      <figcaption>
        <p class="text-center">$280 in bounties won </p>
        <h3 class="text-center">Coder Bounty</h3>
      </figcaption>
      <div class="hover"></div><i class="ion-android-add"></i>
      <a href="#"></a>
    </figure>
    <figure class="snip1536">
      <img src="../../static/img/edalogo.jpg" alt="">
      <figcaption>
        <p class="text-center">Award Ceiling: $300,000 </p>
        <h3 class="text-center">EDA Grant</h3>
      </figcaption>
      <div class="hover"></div><i class="ion-android-add"></i>
      <a href="#"></a>
    </figure>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-3">
        <ul class="list-group text-left">
          <li class="list-group-item active">POOLS <i class="fa fa-fw fa-globe"></i> </li>
          <a href="#" class="list-group-item"><i class="snip1977"><img src="../../static/img/interzoneR.png" alt=""></i><b>The Spurri Interzone Pool</b>
            <h8 class="mr-3 ml-3">29 miners</h8><i>1.2 gH/s</i></a>
          <li class="list-group-item "><i class="snip1977 pr-2"><img src="../../static/img/bithold.png" alt=""></i><b>Bithold Pool</b><i class="mr-3 ml-3">coming soon!</i></li>
          <li class="list-group-item "><i class="snip1977 pr-2"><img src="../../static/img/smartcash.png" alt=""></i><b>SmartCash Pool</b><i class="mr-3 ml-3">coming soon!</i></li>
        </ul>
      </div>
      <div class="col-md-6 p-3 ">
        <li class="list-group-item active text-left ">ACTIVITY <i class="fa fa-fw fa-cogs "></i> </li>
        <table class="table table-hover table-striped table-bordered ">
          <thead class="thead-inverse "> </thead>
          <tbody>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image"> </th>
              <td class="text-left ">1337dev signed up</td>
              <td class="text-right ">
                <h7>3 days ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image"> </th>
              <td class="text-left ">new pool added</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image"> </th>
              <td class="text-left ">new goal created</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p class="lead">Subscribe for alerts on new crypto, projects and grants.</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.twitter.com/spurri" target="_blank">
            <icon class="fab fa-twitter fa-3x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://facebook.com/spurri" target="_blank">
            <icon class="fab fa-facebook fa-3x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://join.slack.com/t/spurri/shared_invite/enQtMjkyNjQ4NjYwODY2LWViMGM1NDY3NTQyMDIzZTk0YmEzOWNmZmFlM2YxZjdjMWE1OTk5MGU5YWQ2Y2EwOTY4ZDVlNmZmY2ZmMTZhNWY" target="_blank">
            <icon class="fab fa-slack fa-3x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://discord.gg/BpRJ9Qp" target="_blank">
            <icon class="fab fa-discord fa-3x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.github.com/spurri" target="_blank">
            <icon class="fab fa-github fa-3x"></icon>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Spurri - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>