<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/theme.css" type="text/css"> </head>

<body>
  
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="clip_frame">
      <img src="../../static/img/spurrilogoW.png" height="50"> </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item  ml-5">
          <a class="nav-link" href="#">Cryptocurrencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Grants</a>
        </li>
      </ul>
      <form class="form-inline m-auto">
        <input class="form-control mr-3" width="250" placeholder="search">
        <button class="btn btn-primary" type="submit">search</button>
      </form>
    </div>
  </nav>
 
<div class="py-2 text-center bg-gradient">
    <div class="container py-2">
      <div class="row">
        <div class="col-md-12">
          <p class="lead"><b>Spurri helps connect innovative projects with funds through grants and cryptocurrency.</b></p>
          	      <div class="row justify-content-center pt-3">
          	      				<p class="text-center mr-3">Subscribe to our newsletter for alerts on new crypto, projects and grants.</p>

         	<form method="post" action="" class="pr-3">
              <input type="email" name="email" class="form-control " placeholder="enter email"> 
      			</form>
                  <button type="submit" class="btn btn-secondary">sign up</button>
              </div>
          		</div>
      		</div>
		</div>
	</div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class=col-sm-3>
<div class="card my-4">
            <div class="card-header bg-primary">
              <h6 class="mb-0 text-center">Activity</h6>
            </div>
            <div class="card-body">
<table class="table-sm table-hover tiny">
            <tbody width="100%">
              <tr scope="row">
                <td>
                  <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image">
                </td>
                <td><h7>1337dev signed up</h7></td>
                   <td class="text-left"><i class="fa fa-user-plus secondaryiconcolor" ></td>     
                <td class="text-right"><h8>3d</h8></td>
              </tr>
              <tr>
                <td scope="row" >
                  <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image">
        </td>
                <td class="text-left">new pool added  </td>
                                <td class="text-left"><i class="fa fa-lg fa-globe secondaryiconcolor" ></td>

                <td class="text-right"><h8>3w</h8></td>
              </tr>
              <tr>
                <th scope="row">
                  <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image">
        </th>
                <td class="text-left">new goal created</td>
                <td class="text-left"><i class="fa fa-lg fa-check secondaryiconcolor" ></td>

                <td class="text-right"><h8>3w</h8></td>
              </tr>

             
            </tbody>
          </table>            </div>
            <div class="card-footer nav-item">
              <a class="nav-link small" href="#">Show All <i class="fa fa-bullhorn"></i></a>
          </div>
          </div>
        </div>
        <div class=col-sm-3>

        <div class="card my-4">
            <div class="card-header bg-secondary">
              <h6 class="mb-0 text-center">Pools</h6>
            </div>
            <div class="card-body">
<table class="table-sm table-hover tiny">
            <tbody width="100%">
              <tr>
                <th scope="row">
                  <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image">
        </th>
                <td class="text-left">ITZ</td>
                <td class="text-left"><h8>29 miners <i class="fa fa-plug successiconcolor" ></h8></td>
                <td class="text-right">1.2 GH/s</td>

              </tr>
              <tr>
                <th scope="row" >
                  <img class="img-thumbnail rounded-circle" img src="../../static/img/Gobyte.png" alt="Card image">
        </th>
                <td class="text-left">GBX</td>

                <td class="text-right"><i>coming soon!</i></td>
                  <td></td>
              </tr>
              <tr>
                <th scope="row">
                  <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image">
        </th>
                <td class="text-left">NYC</td>
                              

                <td class="text-right"><i>coming soon!</i></td>
                                                <td></td>

              </tr>

             
            </tbody>
          </table>                        </div>
                                <div class="card-footer nav-item">

              <a class="nav-link small" href="#">Suggest Pool <i class="fa fa-globe"></i></a>
            </div>
          </div>
        </div>

<div class=col-sm-3>
        <div class="card my-4">
            <div class="card-header bg-info">
              <h6 class="mb-0 text-center">Coins</h6>
            </div>
            <div class="card-body">
<table class="table-sm table-hover tiny">
            <tbody width="100%">
              <tr>
                <th scope="row">
                  <img class="img-thumbnail rounded-circle" src="../../static/img/chaincoin-01.jpg" alt="Card image">
        </th>
                <td class="text-left">Chain Coin</td>
                   <td><img class="img-fluid" src="../../static/img/sparklinered.png" ></td>     
                <td class="text-right"><h8>$.34</h8></td>
              </tr>
              <tr>
                <th scope="row" >
                  <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image">
        </th>
                <td class="text-left">Interzone  </td>
                   <td><img class="img-fluid" src="../../static/img/sparklinegreen.png" ></td>     

                <td class="text-right"><h8>$.55</h8></td>
              </tr>
              <tr>
                <th scope="row">
                  <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image">
        </th>
                <td class="text-left">New York Coin</td>
                   <td><img class="img-fluid" src="../../static/img/sparklinegrey.png" ></td>     

                <td class="text-right"><h8>$.000115</h8></td>
              </tr>

             
            </tbody>
          </table>            </div>
                      <div class="card-footer nav-item">

              <a class="nav-link small" href="#">Show All <i class="fa fa-database"></i> </a>
            </div>
          </div>
        </div>

        <div class=col-sm-3>
        <div class="card my-4">
            <div class="card-header bg-dark">
              <h6 class="mb-0 text-center">Projects</h6>
            </div>
            <div class="card-body">
<table class="table-sm table-hover tiny">
            <tbody width="100%">
              <tr>
                <th scope="row">
                  <div class="project">
                  <img class="portrait" src="../../static/img/emrals.png" alt="Card image"></div>
        </th>
                <td class="text-left">Emrals</td>
                                <td class="text-left">zero waste </td>

                <td class="text-right"><h8>29 <i class="fa fa-thumbs-up primaryiconcolor" ></h8></td>

              </tr>
              <tr>
                <th scope="row">
                  <div class="project">
                  <img class="portrait" src="../../static/img/coder-bounty-large.png" alt="Card image"></div>
        </th>
                <td class="text-left">Coder Bounty</td>
                                <td class="text-left">cash for code</td>

                <td class="text-right"><h8>29 <i class="fa fa-thumbs-up primaryiconcolor" ></h8></td>

              </tr>
              <tr>
                <th scope="row">
                  <div class="project">
                  <img class="portrait" src="../../static/img/hackertown.png" alt="Card image"></div>
        </th>
                <td class="text-left">Hackert0wn</td>
                                <td class="text-left">local create</td>

                <td class="text-right"><h8>29 <i class="fa fa-thumbs-up primaryiconcolor" ></h8></td>

              </tr>

             
            </tbody>
          </table> 

            </div>
            <div class="card-footer">
                          <a class="nav-link small" href="#">Show All <i class="fa fa-pallet"></i> </a>
</div>
          </div>
        </div>

      </div>
    </div>

        <div class="container">
      <div class="row">
        <div class=col-sm-3>
<div class="card my-4">
            <div class="card-header bg-secondary">
              <h6 class="mb-0 text-center">Goals</h6>
            </div>
            <div class="card-body">
<table class="table-sm table-hover tiny">
            <tbody width="auto">
              <tr scope="row" >
                <td>
                  <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image"></td>
                  <td><p class="text-left">ITZ on Bittrex</p><td>
                  <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div><h8 class="tiny text-right">$300</h8>
             </tr>
            
            <tr scope="row" >
                <td>
                  <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image"></td>
                  <td><p class="text-left">100 Kiosks</p><td>
                  <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">90%</div>
          </div><h8 class="tiny text-right">$300</h8> 
             </tr>


<tr>
                <th scope="row">
                  <div class="project">
                  <img class="portrait" src="../../static/img/emrals.png" alt="Card image"></div>
        </th>
                <td class="text-left">eCan v2.2</td>

<td><div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">30%</div>
          </div><h8 class="tiny text-right">$100</h8></td>
              </tr>


             
            </tbody>
          </table>            </div>
            <div class="card-footer nav-item">
              <a class="nav-link small" href="#">Show All <i class="fa fa-road"></i></a>
          </div>
          </div>
        </div>
        <div class=col-sm-3>

        <div class="card my-4">
            <div class="card-header bg-info">
              <h6 class="mb-0 text-center">Masternodes</h6>
            </div>
            <div class="card-body">
              <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">A Card footer</div>
          </div>
        </div>

<div class=col-sm-3>
        <div class="card my-4">
            <div class="card-header bg-dark">
              <h6 class="mb-0 text-center">Grants</h6>
            </div>
            <div class="card-body">
              <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">A Card footer</div>
          </div>
        </div>

        <div class=col-sm-3>
        <div class="card my-4">
            <div class="card-header bg-primary">
              <h6 class="mb-0 text-center">Proof of Stake</h6>
            </div>
            <div class="card-body">
              <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">A Card footer</div>
          </div>
        </div>

      </div>
    </div>


<div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">   

</div>
</div>
</div>
<figure class="snip1536">
  <img src="../../static/img/interzone.png" alt="" />
  <figcaption>
  	<p class="text-center">$.0034 USD | 34 pools | 1 exchange $234,234 marketcap</p>
    
    <h3 class="text-center">Interzone</h3>
  </figcaption>
  <div class="hover"></div><i class="ion-android-add"></i>
  <a href="#"></a>
</figure>
<figure class="snip1536"><img src="../../static/img/coderbounty.png" alt="" />
  <figcaption>
    <p class="text-center">$280 in bounties won </p>
    <h3 class="text-center">Coder Bounty</h3>
  </figcaption>
  <div class="hover"></div><i class="ion-android-add"></i>
  <a href="#"></a>
</figure>
<figure class="snip1536"><img src="../../static/img/edalogo.jpg" alt="" />
  <figcaption>
    <p class="text-center">Award Ceiling: $300,000 </p>
    <h3 class="text-center">EDA Grant</h3>
  </figcaption>
  <div class="hover"></div><i class="ion-android-add"></i>
  <a href="#"></a>
</figure>

</div>
</div>
</div>
</div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
          <ul class="list-group text-left">
            <li class="list-group-item active">POOLS <i class="fa fa-fw fa-globe"></i> </li>
            <a href="#" class=list-group-item list-group-item-action"><i class="snip1977"><img src="../../static/img/interzoneR.png" alt="" /></i><b>The Spurri Interzone Pool</b><h8 class="mr-3 ml-3">29 miners</h8><i>1.2 gH/s</i></a>
            <li class="list-group-item "><i class="snip1977 pr-2"><img src="../../static/img/bithold.png" alt="" /></i><b>Bithold Pool</b><i class="mr-3 ml-3">coming soon!</i></li>
			<li class="list-group-item "><i class="snip1977 pr-2"><img src="../../static/img/smartcash.png" alt="" /></i><b>SmartCash Pool</b><i class="mr-3 ml-3">coming soon!</i></li>
          </ul>
        </div>
        <div class="col-md-6 p-3">
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-inverse">
                          <li class="list-group-item active text-left">ACTIVITY <i class="fa fa-fw fa-cogs"></i> </li>

            </thead>
            <tbody>
              <tr>
                <td scope="row">
                	<img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image">
				</td>
                <td class="text-left">1337dev signed up</td>
                <td class="text-right"><h7>3 days ago</h7></td>
              </tr>
              <tr>
                <td scope="row">
                	<img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image">
				</td>
                <td class="text-left">new pool added</td>
                <td class="text-right"><h7>3 weeks ago</h7></td>
              </tr>
              <tr>
                <td scope="row">
                	<img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image">
				</td>
                <td class="text-left">new goal created</td>
                <td class="text-right"><h7>3 weeks ago</h7></td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md my-3 navbar-light bg-light">
    <div class="container">
      <a class="nav-link" href="#"><b>source code</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLightSupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbarLightSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-1">
            <a class="nav-link" href="#"><i class="fa d-inline fa-facebook-square"></i>&nbsp; share</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="#"><i class="fa d-inline fa-twitter"></i>&nbsp; tweet</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="#"><i class="fa d-inline fa-pinterest"></i>&nbsp; pin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>