<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="clip_frame">
      <img src="../../static/img/spurrilogoW.png" height="50"> </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item  ml-5">
          <a class="nav-link active" href="#">Cryptocurrencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="grants.html">Grants</a>
        </li>
      </ul>
      <form class="form-inline m-auto">
        <input class="form-control mr-3" width="250" placeholder="search">
        <button class="btn btn-primary" type="submit">search</button>
      </form>
      <form class="form-inline m-auto">
        <button type="submit" class="btn mx-1 btn-light">Sign In</button>
        <button class="btn mx-1 btn-info" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>
  <div class="text-center bg-gradient py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-center pt-2 ">
            <p class="text-center mr-3">Get daily updates on crypto, projects and grants for $5 / month</p>
            <form method="post" action="" class="pr-3">
              <div class="row">
                <div class="col">
                  <input type="email" name="email" class="form-control" placeholder="Your e-mail here"> </div>
                <div class="col">
                  <button type="submit" class="btn btn-secondary">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Projects</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row py-4">
        <div class="col-md-6">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <div class="row my-3">
            <div class="col-md-3">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
            <div class="col-md-3">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
            <div class="col-md-3">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
            <div class="col-md-3">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="text-left">Heading</h1>
          <p class="text-left">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Paragraph. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.</p>
          <div class="row">
            <div class="col-md-12"><i class="d-block  fab fa-2x fa-font-awesome text-left"> Next Goal: Design Contest </i></div>
          </div>
          <div class="row my-2">
            <div class="col-md-1 my-1">
              <h5 class="">$34</h5>
            </div>
            <div class="col-md-5 my-2">
              <div class="progress" style="width:100%; ">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%; " aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
            <div class="col-md-1 my-1">
              <h5 class="">$34</h5>
            </div>
            <div class="col-md-5 my-1">
              <a class="btn btn-primary" href="#">Donate</a>
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> $20 </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">$50</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">$100</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-4">
            <div class="col-md-6 text-left">
              <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image">
              <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image">
              <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image">
              <div class="row">
                <div class="col-md-12">
                  <p>Liked by Peter, Paul and 5 others</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-2">
              <a class="btn btn-primary" href="#"><i class=" far fa-2x fa-thumbs-up text-left"> Like 0</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-light">Team
                <a href="#" class="btn btn-outline-primary">Button</a>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
            <div class="col-md-4">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
            <div class="col-md-4">
              <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="col-sm-3 col-md-12">
                <div class="card my-4">
                  <div class="card-header bg-secondary">
                    <h6 class="mb-0 text-center">Goals</h6>
                  </div>
                  <div class="card-body">
                    <table class="table-sm table-hover tiny">
                      <tbody width="auto">
                        <tr scope="row">
                          <td>
                            <h1 class="pi-draggable" draggable="true">#1</h1>
                          </td>
                          <td>
                            <h1 class="pi-draggable" draggable="true">ITZ On Bittrex</h1>
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                            <h8 class="tiny text-right">$300</h8>
                          </td>
                        </tr>
                        <tr scope="row">
                          <td>
                            <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image"> </td>
                          <td>
                            <p class="text-left">100 Kiosks</p>
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                            <h8 class="tiny text-right">$300</h8>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="project">
                              <img class="portrait" src="../../static/img/emrals.png" alt="Card image"> </div>
                          </th>
                          <td class="text-left">eCan v2.2</td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">30%</div>
                            </div>
                            <h8 class="tiny text-right">$100</h8>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer nav-item">
                    <a class="nav-link small" href="#">Show All <i class="fa fa-road"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p class="lead">Get daily updates on crypto, projects and grants for $5 / month</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.twitter.com/spurri" target="_blank">
            <icon class="fab fa-twitter fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://facebook.com/spurri" target="_blank">
            <icon class="fab fa-facebook fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://join.slack.com/t/spurri/shared_invite/enQtMjkyNjQ4NjYwODY2LWViMGM1NDY3NTQyMDIzZTk0YmEzOWNmZmFlM2YxZjdjMWE1OTk5MGU5YWQ2Y2EwOTY4ZDVlNmZmY2ZmMTZhNWY" target="_blank">
            <icon class="fab fa-slack fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://discord.gg/BpRJ9Qp" target="_blank">
            <icon class="fab fa-discord fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.github.com/spurri" target="_blank">
            <icon class="fab fa-github fa-2x"></icon>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Spurri - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>