{% load staticfiles %}


<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} {% endblock %}Spurri - Connecting projects to grants and cryptocurrency.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/notify.js' %}"></script>

{% block extra_head %}
{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="clip_frame">
      <a href="/"><img src="{% static 'img/spurrilogoW.png' %}" height="50"></a> </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">


        <li class="nav-item  ml-5">
          <a class="nav-link {% if '/coins' in request.path %}active{% endif %}" href="/coins">Coins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/list' in request.path %}active{% endif %}" href="/list">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/grants' in request.path %}active{% endif %}" href="/grants">Grants</a>
        </li>
      </ul>
      <form class="form-inline m-auto" action="/list/" method="get"> 
        <input class="form-control mr-2" width="250" placeholder="search" name="q"  value="{{request.GET.q}}">
        <button class="btn btn-primary" type="submit">search</button>
      </form>

      {% if user.is_authenticated %}

       <div class="row m-auto">
        
        <form  action="{% url 'account_logout' %}">
          <span ><a href="/profile/{{user.username}}">{{user.username}}</a> </span>
        <button class="btn-sm btn-outline-secondary m-1" type="submit">Logout</button>
       
        </form>
      </div>
      {% else %}
      <div class="row m-auto">
      <form  action="{% url 'account_login' %}">
        <button type="submit" class="btn-sm btn-outline-light ml-3 m-1">Login</button>
      </form>
      <form   action="{% url 'account_signup' %}">
        <button class="btn-sm btn-outline-secondary m-1" type="submit">Sign up</button>
      </form>
    </div>

          {% endif %}



    </div>
  </nav>
  <div class="text-center bg-gradient py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-center pt-2 ">
            <p class="text-center mr-3">Get daily updates on crypto, projects and grants for <b>$5 / month</b>.</p>
            <form method="post" action="https://formspree.io/sean@spurri.com" class="pr-3">
              <div class="row">
                <div class="col">
                  <input type="email" name="email" class="form-control" placeholder="Your e-mail here"> </div>
                <div class="col">
                  <button type="submit" class="btn-sm btn-secondary">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



      {% block content %}

      {% endblock %}
      


      {% if messages %}
        {% for message in messages %}
          <script> $.notify("{{ message }}",{ position: 'top center', className: "{{message.level_tag }}" }); </script>
        {% endfor %}
      {% endif %}


      <script>
      $('.like').click(function(){
        {% if request.user.is_authenticated %}

        var pk = $(this).attr('id');
        $.ajax({
          type: "POST",
          url: "/project/" + pk + "/rate/1",
          data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          dataType: "json",
          success: function(response) {
            $('#vote_count_' + pk).html(response)
          },
          error: function(rs, e) {
            alert(rs.responseText);
          }
        });
        {% else %}
        alert('Please sign in to vote');
        {% endif %}
      })
      </script>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66630329-1', 'auto');
  ga('send', 'pageview');

</script>


 <div class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p class="lead">Get daily updates on crypto, projects and grants for <b>$5 / month</b></p>
          <form class="form-inline" action="https://formspree.io/sean@spurri.com" method="post">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.twitter.com/spurri" target="_blank">
            <icon class="fab fa-twitter fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://facebook.com/spurri" target="_blank">
            <icon class="fab fa-facebook fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://join.slack.com/t/spurri/shared_invite/enQtMjkyNjQ4NjYwODY2LWViMGM1NDY3NTQyMDIzZTk0YmEzOWNmZmFlM2YxZjdjMWE1OTk5MGU5YWQ2Y2EwOTY4ZDVlNmZmY2ZmMTZhNWY" target="_blank">
            <icon class="fab fa-slack fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://discord.gg/BpRJ9Qp" target="_blank">
            <icon class="fab fa-discord fa-2x"></icon>
          </a>
        </div>
        <div class="col-2 col-md-1 align-self-center">
          <a href="https://www.github.com/spurri" target="_blank">
            <icon class="fab fa-github fa-2x"></icon>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Spurri - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>