  {% load staticfiles %}
<html>
<head>

  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="{% static "js/jquery.sparkline.js" %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static "css/0.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/1.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/2.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/3.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/4.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/5.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/6.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/7.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/8.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/9.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/10.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/11.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/12.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/13.css" %}" />
  
  <script>
$(function() {

$('.inlinesparkline').sparkline('html', { width: '100%', height: '20px', enableTagOptions:true });
})
  </script>

</head>
<body>


{% for coin in object_list  %}

<div style="display:block; width:75px; height: 19px; float:left; border: 1px solid white; padding:0; margin:0; background-color:{% if coin.percent_change_24h > 0 %}#7eca8f{% else %}#ea868f{% endif %};  position: relative;">

<div class="s-s-{{coin.slug}} currency-logo-sprite" style="margin-right:0px; margin-top: 1px; position:absolute;" title="{{coin.name}}"></div>

<span class="inlinesparkline" style="float:right; margin:0; padding:0;" values="{{coin.chart_24h}}" sparklineColor="{% if coin.percent_change_24h > 0 %}#28a745{% else %}#dc3545{% endif %}" sparkfillColor="{% if coin.percent_change_24h > 0 %}#b1dfbb{% else %}#f1b0b7{% endif %}"></span>
</div>

{% endfor %}
</body>
</html>


