{% extends "base.html" %}
{% load staticfiles %}
{% load comments %}
{% load humanize %}
{% block content %}

<a href="{{grant.organization.website}}" target="_new"><img src="{{MEDIA_ROOT}}{{grant.organization.logo.url}}" height="150"></a>

<h1><a href="{{grant.link}}" target="_new">{{grant.name}}</a></h1>
<h2>Solicitation # {{grant.soliciation_number}}</h2>
<h3> Amount Max: ${{grant.amount_max.normalize|intcomma}} Deadline <span style="color:{% if grant.is_past %}#ff3333{% else %}#99ff99{% endif %};">{{grant.deadline}}</span></h3>


	<style>
	table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	table, th, td {
	border: 1px solid black;
	padding: 10px;
	text-align:left;
	line-height:30px;
	}
	</style>
	<div class="row">
		<center>
		<table cellpadding="10" cellspacing="10">
			<tr>
				<th>&nbsp;</th>
				<th>Project</th>
				<th>POC</th>
				<th>Match (Similarity Ratio)</th>
			</tr>
			{% for match in matches %}
				<tr>
					<td><a href="/{{match.project.slug}}" target="_new"><img src="{{MEDIA_ROOT}}{{match.project.image.url}}" width="40"></a></td>
					<td><a href="/{{match.project.slug}}" target="_new">{{match.project}}</a></td>
					<td><a href="/profile/{{match.project.user}}">{{match.project.user.first_name}} {{match.project.user.last_name}}</a></td>
					
					<td>
					{{match.similarity}}
				</td>
			</tr>
		{% endfor %}
	</table>
	</center>
</div>
{% if is_paginated %}
	<div class="pagination">
		<span class="page-links">
			{% if page_obj.has_previous %}
				<a href="/list?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
			<span class="page-current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
				<a href="/list?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endif %}
{% endblock %}