{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="py-1" contenteditable="true"><b>Spurri connects projects to grants and cryptocurrency.</b></h3>
        </div>
      </div>
    </div>
    <figure class="snip1536">
      <img src="../../static/img/interzone.png" alt="">
      <figcaption>
        <p class="text-center">$.0034 USD | 34 pools | 1 exchange $234,234 marketcap</p>
        <h3 class="text-center">Interzone</h3>
      </figcaption>
      <div class="hover"></div><i class="ion-android-add"></i>
      <a href="/cryptocurrency/interzone/"></a>
    </figure>
    <figure class="snip1536">
      <img src="../../static/img/coderbounty.png" alt="">
      <figcaption>
        <p class="text-center">$280 in bounties won </p>
        <h3 class="text-center">Coder Bounty</h3>
      </figcaption>
      <div class="hover"></div><i class="ion-android-add"></i>
      <a href="/coderbounty/"></a>
    </figure>
    <figure class="snip1536">
      <img src="../../static/img/edalogo.jpg" alt="">
      <figcaption>
        <p class="text-center">Award Ceiling: $300,000 </p>
        <h3 class="text-center">EDA Grant</h3>
      </figcaption>
      <div class="hover"></div><i class="ion-android-add"></i>
      <a href="/grant/32/"></a>
    </figure>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-primary" href="#">Add a Coin</a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-primary" href="/create">Add a Project</a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-primary" href="#">Add a Grant</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-3">
        <ul class="list-group text-left">
          <li class="list-group-item active text-dark">MINING POOLS <i class="fa fa-fw fa-globe"></i> </li>
          <a href="http://pool.spurri.com/" class="list-group-item"><i class="snip1977"><img src="../../static/img/interzoneR.png" alt=""></i><b>The Spurri Interzone Pool</b>
            <h8 class="mr-3 ml-3">{{workers}} miners</h8><i>{{hashrate}}</i></a>
          <li class="list-group-item "><i class="snip1977 pr-2"><img src="../../static/img/bithold.png" alt=""></i><b>Bithold Pool</b><i class="mr-3 ml-3">coming soon!</i></li>
          <li class="list-group-item "><i class="snip1977 pr-2"><img src="../../static/img/smartcash.png" alt=""></i><b>SmartCash Pool</b><i class="mr-3 ml-3">coming soon!</i></li>
        </ul>
      </div>
      <!--
      <div class="col-md-6 p-3 ">
        <li class="list-group-item active text-left text-dark">RECENT ACTIVITY <i class="fa fa-fw fa-cogs "></i> </li>
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-inverse "> </thead>
          <tbody>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/sean.jpg" alt="Card image"> </th>
              <td class="text-left ">test signed up</td>
              <td class="text-right ">
                <h7>3 days ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/interzoneS.png" alt="Card image"> </th>
              <td class="text-left ">new pool added</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
            <tr>
              <th scope="row ">
                <img class="img-thumbnail rounded-circle" src="../../static/img/nyclogo.png" alt="Card image"> </th>
              <td class="text-left ">new goal created</td>
              <td class="text-right ">
                <h7>3 weeks ago</h7>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    -->
    </div>
  </div>
		{% endblock %}



