{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load gravatar %}
{% block content %}


<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-3">
          <ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">
              <a href="">Users</a>
            </li>
            <li class="breadcrumb-item"> {% if object.first_name and object.last_name %}{{object.first_name}} {{object.last_name}}{% else %}{{object.username}}{% endif %} </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-md-3">
        <img class="img-fluid d-block" src="{% gravatar_url  object 300 %}">
        <p class="my-2">Last Login: {{object.last_login|naturaltime}}</p>
        <p class="">Profile Views: 100</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="text-left col-md-9">
            <h3 class="display-4"><b>{% if object.first_name and object.last_name %}{{object.first_name}} {{object.last_name}}{% else %}{{object.username}}{% endif %}</b></h3>
            <p class="">Inventor, entreprenour and doer of good</p>
          </div>
          <div class="col-md-3">
            <h1 class="">Joined</h1>
            <p><b>{{object.date_joined|date:"m/d/Y"}}
          <br>{{object.date_joined|date:"g:i a"}}</b> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2"><i class="d-block far fa-lightbulb fa-2x "><br></i>
                <h1 class=""><b>{{object.project_set.all|length}}</b></h1>
                <p class=""><b>Project{{object.project_set.all|pluralize}}<br>Created</b></p>
              </div>
              <div class="col-md-2"><i class="d-block fab fa-bitcoin fa-2x "><br></i>
                <h1 class=""><b>35</b></h1>
                <p class=""><b>Coins
                  <br>Listed</b></p>
              </div>
              <div class="col-md-2"><i class="d-block  fa fa-2x fa-university"><br></i>
                <h1 class=""><b>35</b></h1>
                <p class=""><b>Grants
                  <br>Added</b></p>
              </div>
              <div class="col-md-2"><i class="d-block  fa fa-2x fa-flag-checkered"><br></i>
                <h1 class=""><b>35</b></h1>
                <p class=""><b>Goals
                  <br>Created</b></p>
              </div>
              <div class="col-md-2"><i class="d-block  fa fa-2x fa-newspaper"><br></i>
                <h1 class=""><b>35</b></h1>
                <p class=""><b>Articles
                  <br>Posted</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-4">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="active nav-link" href="" data-toggle="tab" data-target="#tabone">Projects</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" data-toggle="tab" data-target="#tabtwo">Coins</a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <div class="row">
              	{% for project in object.project_set.all %}

	                <div class="col-md-4">
	                  <div class="card">
	                    <img class="card-img-top" src="{{MEDIA_ROOT}}{{project.image.url}}" alt="Card image cap">
	                    <div class="card-body">
	                      <h5 class="card-title">{{project.name}}</h5>
	                      <p class="card-text">{{project.description}}</p>
	                      <a href="/{{project.slug}}" class="btn btn-primary">Learn More</a>
	                    </div>
	                  </div>
	                </div>

				{% endfor %}

              </div>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
